<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Feedback.me.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA0811AB1E1F3ABA00C9D314</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA0811BF1E1F3ABA00C9D314</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA0811CA1E1F3ABA00C9D314</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
